<div class="withdrawal-box">
  <div class="choose-box m-auto" style="width: 450px;text-align:center;padding-top:100px;">
    <h1 style="padding-left:5px;">Please select your bank</h1>
    <div class="m-auto" style="width:270px;padding:1rem;">
      <button (click)="router$.navigateByUrl('/terminal/atm/bank/orange')"  class="btn btn-sp wa">Orange</button>
      <button (click)="router$.navigateByUrl('/terminal/atm/bank/unavailable')" class="btn btn-sp wa">T-Bank</button>
      <button (click)="router$.navigateByUrl('/terminal/atm/home')"  class="btn btn-sp wa">Cancel</button>
    </div>
  </div>
</div>
